.cal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  border: 1px solid;
  width:50%;
  margin-left:24vw;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(84, 173, 49, 0.63);
}
.inputfield{
  border-radius: 1px;
}

.highlighted:hover{
  background-color: rgb(19, 87, 212);
  cursor: pointer;
}

button{
  margin: 10px;
  padding: 10px;
}

.keypad{
  border: 2px solid;
}

input{
  padding: 12px;
}