.cal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  border: 1px solid;
  width:50%;
  margin-left:24vw;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(84, 173, 49, 0.63);
}
.inputfield{
  border-radius: 1px;
}

.highlighted:hover{
  background-color: rgba(14, 91, 235, 0.315);
  cursor: pointer;
}

button{
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover{
  background-color: rgba(14, 91, 235, 0.315);
}

.keypad{
  border: 2px solid;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.89);
}

.keypadbuttons{
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr); */
}

input{
  padding: 15px 20px;
  border: 2px solid;
}

.clear_backspace{
  display: flex;
  flex-direction: column;
}

/* h2{
  border: 1px solid;
  background-color: rgba(255, 228, 196, 0.432);
  padding: 1vh 22vw;
} */

@media (min-width:200px) and (max-width:350px){
  .cal{
    width: max-content;
  }
}